/* res_timestyle.css */
body{
    padding:100px;
    padding-top: 10px;
}

#map-container button{
    position: absolute;
    width: 43px;
    height: 33px;
    background-color: #64c899;
    border: 1px solid #ffffff; 
    border-radius: 3px;
}
#map-container button:hover{
    transform: scale(1.1);
}
#map-container {
    position: relative;
    width: 400px;
    height: 300px;
    background-image: url('doodoo.jpg'); 
    background-size: cover;
}