body{
    padding:100px;
    padding-top: 10px;;
}
#map-container button{
    position: absolute;
    width: 25px;
    height: 18px;
    background-color: #64c899;
    border: 1px solid #ffffff; 
}
#map-container button:hover{
    transform: scale(1.1);
}
#map-container {
    width: 100%;
    position: relative;
    background-image: url('doodoo.jpg'); 
    background-size: cover;
}